@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

:root {
    --primary: #5093ce;
    --primary-light: #5093ce94;
    --light: #5093ce29;
    --transition: all 0.3s ease;
    --ico-hover: translate(6px, -6px) scale(1.2);
    /* --ico-hover-translate: 6px, -6px;
    --ico-hover-scale: 1.2; */
    --dark: #212121;
    --white: white;
    --lightback: #f5f6f6;
}

@font-face {
    font-family: Abril_Fatface;
    src: url(../fonts/abril/AbrilFatface-Regular.otf);
}

@font-face {
    font-family: Sofia_Pro;
    src: url(../fonts/sofiapro/sofiapro-light.otf);
}

* {
    margin: 0;
    padding: 0;
    /* letter-spacing: 1px; */
    font-family: Sofia_Pro;

}

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

.footer-bg {
    background-color: #f5f6f6;
}

.UmP4ca {
    background-color: #ffb100;
}

.clr-dark {
    color: var(--dark) !important;
}

.back-dark {
    background: var(--dark) !important;
}

.clr-primary {
    color: var(--primary);
}

.clr-low {
    color: red;
}

.clr-high {
    color: #ff8400;
}

html {
    scroll-behavior: smooth;
}

.font-primary {
    font-family: Abril_Fatface;
}

.font-secondary {
    font-family: Sofia_Pro !important;
}

.back-light {
    background-color: var(--light);
}

.back-primary {
    background-color: var(--primary);
}

nav a,
nav button {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 12px !important;
    line-height: 15px;
}

/* .dropdown_items a{
    font-size: 12px;
} */
.home-tab {
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 99999;
}

nav.main {
    border-bottom: 1px solid #ffffff61;
    justify-content: space-between;
    height: 5rem;
    width: 100%;
    display: flex;
    position: relative;
    z-index: 100000;
    background-color: transparent;
    /* box-shadow: 0px 20px 20px rgb(0 0 0 / 20%); */
}

.navmain nav.main {
    border-bottom: 1px solid #efe3e33d;
    box-shadow: unset;
}

/* Styling Logo*/

.logo {
    text-align: left;
    width: 30vw;
    z-index: 1;
}

.logo img {
    height: auto;
    width: 9rem;
}

/* Styling Navigation Links*/

.nav-links {
    width: 70vw;
    display: flex;
    padding: 0 0.7vw;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    list-style: none;
    font-weight: 600;
    padding-right: 0;
    margin-bottom: 0;
}

.nav-links li a {
    margin: 0;
    text-decoration: none;
    transition: all ease-in-out 350ms;
    padding: 10px;
}


.nav-links li a {
    font-family: 'Sofia_Pro';
    position: relative;
    color: black;
}

.nav-links li {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-links li a:hover::before {
    width: 80%;
}


/*Buttons Styling*/

.book-button {
    background: linear-gradient(97.68deg, var(--primary) 0%, #00C6FF 100%);
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    border: 0;
    position: relative;
    background-size: 100%;
    transition: var(--transition);
}

.book-button::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='24' viewBox='0 0 13 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5012 12.1122L0.832031 0.442993V23.7814L12.5012 12.1122Z' fill='%231A1A1B'/%3E%3Cpath d='M8.17654 12.1121L0.832031 4.76758V19.4566L8.17654 12.1121Z' fill='white'/%3E%3C/svg%3E%0A");
    padding: 12px;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -1px;
}

.book-button:hover {
    background: linear-gradient(97.68deg, var(--primary) 0%, #00C6FF 100%);
    background-size: 500%;
}


.hamburger div {
    width: 34px;
    height: 1.6px;
    background: #000000;
    margin: 6px;
    transition: var(--transition);
}

.hamburger {
    display: none;
}



@media screen and (max-width: 1150px) {
    .logo {
        width: 20vw !important;
    }

    nav.topNav .buttons .topNavBtn {
        padding: 0 4em !important;
    }

    .nav-links li a {
        padding: 8px 0px !important;
    }
}

@media screen and (max-width:992px) {
    .second-slider-btn {
        position: absolute !important;
        right: 0px !important;
        bottom: 50px !important;
    }

    .fadeslider-r .col-md-4 img {
        height: 80px !important;
        width: 80px !important;
    }
}

@media screen and (min-width:900px) {
    .logo {
        transform: translateY(-20px);
    }
}

@media screen and (max-width: 1000px) {


    .nav-links {
        width: 80vw !important;
    }

}

@media screen and (max-width: 768px) {
    .sec-1 .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (min-width: 900px) {
    .phoneTopBar {
        display: none !important;
    }

    .topNavBtn.skew:after {
        content: "";
        position: absolute;
        top: -11px;
        left: -18px;
        bottom: 0;
        height: 42px;
        width: 48px;
        transform: skew(40deg);
        background: #2c2c2c;
    }

    .nav-links li a.active::after {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='5' viewBox='0 0 11 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.49062 4.96218L0.640625 0.112183H10.3406L5.49062 4.96218Z' fill='%23059DF3'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        padding: 6px;
        position: absolute;
        bottom: -50%;
        transform: translateY(50%);
        left: 50%;
    }

    .phoneSearch {
        display: none !important;
    }
}

@media screen and (max-width: 900px) {
    .phoneTopBar.fade {
        width: 100%;
        display: unset !important;
    }

    .logo img {
        width: 7rem !important;
    }

    .phoneTopBar.fade a.topNavBtn.d-flex.align-items-center {
        padding: 1rem 0 !important;
    }

    .phoneTopBar.fade .buttons {
        padding: 0rem 1rem !important;
    }

    .phoneTopBar.fade>.buttons {
        position: fixed;
        bottom: 0;
    }


    .topNav {
        display: none !important;
    }

    .logo {
        margin-left: 1rem;
    }

    .nav-links.open {
        padding: 26% 0;
    }

    .desktopSearch {
        display: none !important;
    }

    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 6%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }

    .nav-links {
        background: #9ad0ff;
        position: fixed;
        top: 0;
        opacity: 1;
        height: 100vh;
        width: 100% !important;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    .book-button {
        background: linear-gradient(97.68deg, #1d1d1d 0%, #3d3d3d 100%);
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
    }

    .nav-links.open {
        clip-path: circle(1000px at 50% 10%);
        -webkit-clip-path: circle(1000px at 50% 10%);
        pointer-events: all;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.7s;
    }

    .nav-links li:nth-child(5) {
        transition: all 0.5s ease 0.8s;
    }

    .nav-links li:nth-child(6) {
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }

    .nav-links li:nth-child(7) {
        transition: all 0.5s ease 1s;
        margin: 0;
    }

    li.fade {
        opacity: 1 !important;
    }

    /* Navigation Bar Icon on Click*/

    .toggle .bars1 {
        transform: rotate(-45deg) translate(-5px, 6px);
        background: white;
    }

    .toggle .bars2 {
        transition: all 0s ease;
        width: 0;
    }

    .toggle .bars3 {
        transform: rotate(45deg) translate(-5px, -6px);
        background: white;
    }

    .topNavBtn svg path {
        fill: #000000;
    }

}

@media (max-width:530px) {
    .phoneTopBar.fade .buttons {
        flex-direction: column;
    }
}

nav.topNav {
    height: 42px;
    background-color: transparent;
}

nav.topNav .buttons {
    background-color: #2C2C2C;
}

nav.topNav .buttons .topNavBtn {
    background-color: #2C2C2C;
    padding: 0 8em;
}

nav.topNav .buttons .topNavBtn.bdr {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.form-control {
    box-shadow: none !important;
}

.by-make-model>div select {
    border: 1px solid;
}

.by-make-model>div select:focus {
    border: 1px solid;
}

.by-make-model>div input {
    border: 1px solid;
}

.by-make-model>div input:focus {
    border: 1px solid;
}

.topNavBtn.skew {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    border-left: 0;
    color: white;
}


.topNavBtn>svg {
    transition: var(--transition);
}

.topNavBtn:hover>svg {
    transform: translateY(-4px) scale(1.1);
}

.top-banner {
    height: 70vh;
}

.top-banner:before {
    content: '';
    background: url('../images/index/top-banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
}

.used-car-top-banner {
    height: 70vh;
}

.used-car-top-banner:before {
    content: '';
    background: url('../images/usedcars/aboutBg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
}

/* .used-car-top-banner {
    height: 70vh;
    position: relative;
    top: 0;
} */

/* .used-car-top-banner {
    background: url('../images/usedcars/aboutBg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

} */

.financing-top-banner {
    height: 50vh;
}

.lh-1.col-md-3.col-sm-4.col-6.my-2 a {
    font-size: 13px !important;
    /* color: yellow !important; */
}

.financing-top-banner:before {
    content: '';
    background: url('../images/financing/finance.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
}

.search-car-top-banner {
    height: 50vh;
}

.certifieddiv>div>div>div {
    border: 1px solid var(--primary);
    border-radius: 10px;
}

.certifieddiv {
    border-left: 1px solid var(--primary-light);
    padding-left: 53px;
    height: 100%;
    padding-right: 12px;
}

.applytalent-checkbox label {
    padding-block: 0 !important;
    padding-left: 10px !important;
}

.submit-application {
    display: flex;
    justify-content: end;
}

.prequalified-card {
    border-left: 5px solid var(--primary);
    color: var(--primary);
}

.prequalified-card button {}

.pre-quali-btn-svg {
    width: 20px;
}

.pre-quali-btn {
    border-bottom: 2px solid var(--primary) !important;
    background: transparent;
    border: 0;
}

.pre-quali-logo {
    width: 100px;
}

.apply-with-btn {
    display: flex;
}

.form__field input[name="property_type"]:checked+label {
    background-color: var(--primary) !important;
}

.apply-with-btn button {
    display: flex;
}

.apply-with-btn li {
    list-style: none;
}

.apply-with-btn span {
    margin-left: 10px;
}

.sell-your-car-bg {
    background: url('../images/sell_car/image2.jpeg');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}

.field-required {
    display: none;
}

.form-label>[data-required="true"]::after {
    color: hsl(var(--form-error-color));
    content: "*";
    padding-left: 0.25em;
    position: absolute;
}

span [data-required] {
    display: block;
    height: 100px;
    width: 100px;

}

/* .modal
{
    display: block !important;
} */


.fade:not(.show) {
    opacity: 0;
}


label>[data-required="true"]::after,
legend>[data-required="true"]::after {
    /* color: hsl(var(--form-error-color)); */
    content: "*";
    padding-left: 0.25em;
    position: absolute;

}

.tab {
    display: none;
    color: var(--dark);
}

.step {
    /* content: "aaa"; */

    margin: 0 2px;
    /* background-color: #bbbbbb; */
    border: none;
    border-radius: 50%;
    display: none;
    opacity: 0.5;
}

.step.active {
    /* content: "step-count"; */
    opacity: 1;
    display: block;
}

.tab.invalid>div {
    /* position: absolute; */
    /* content: "Please Fill";
    height: 100px;
    width: 100px;
    background-color: blue; */
    display: none;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    /* background-color: yellow; */
    /* display: none; */

}

.required-none {
    display: none;
}

.required {
    display: flex;
    color: red;
    font-size: small;
}

.required svg {
    margin-top: auto;
    margin-bottom: auto;
}

.required p {
    padding-left: 10px;
    margin-bottom: 0;
}

.search-car-top-banner:before {
    content: '';
    background: url('../images/searchcars/research.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
}

.sell-radio input:checked~label {
    background: var(--bs-primary);
    color: var(--bs-light);
    border-radius: 40px;
}

.sell-radio label {
    width: 100%;
    padding: 5px;
    text-align: center;
}

.sell-radio-btn {
    border: 1px solid var(--bs-border-color);
    border-radius: 40px;

    box-shadow: inset 0 4px 4px hsla(0, 0%, 44%, 0.2);

}

.sec.sec-2 :is(.container, .row):after {
    display: none;
}

.sec.sec-2 :is(.container, .row):before {
    display: none;
}

.sec.sec-2 .row>div {
    position: unset;
}

.sec-2 {
    background: linear-gradient(156deg, var(--primary) 60%, var(--white) 60%);
    /* height: 60vh; */
}

.used-sec-2 {
    background: url('../images/index/cta.jpeg');
    background-repeat: no-repeat;
    /* height: 60vh; */
    background-position: right;
    background-size: 60% 100%;
    /* height: 60vh; */
    /* linear-gradient(120deg, var(--primary) 50%, */
}

.sell-bg {
    background: url('../images/sell_car/image8.jpeg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-color: #f7f7f7;
}

.rating-review {
    background: url('../images/sell_car/image8.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 550px;
    overflow: auto;
}

.rating-review>div {
    width: 80%;
    padding-block: 10px;
    margin-top: 100px;
    margin-inline: auto;
}

.rating-review .card {
    border-radius: 30px;
    padding-block: 15px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .15);
}


.sellmycarbtn a {
    display: inline-block;
    text-transform: capitalize;
    padding: 8px 26px;
    font-family: 'Segoe UI Regular';
    color: var(--white);
    user-select: none;
    /* border-radius: 12px; */
    transition: all .3s ease;
    text-decoration: underline;
    font-weight: lighter;
}

.customer-ratings {
    background-color: #f7f7f7;
}

.used-sec-2-key-info {
    background: linear-gradient(110deg, var(--primary) 50%, transparent 50%);
}

.cpo-new-car {
    background: url('../images/cpo/used_car_hero_min-1280.webp');
    background-repeat: no-repeat;
    /* height: 60vh; */
    background-position: center;
    background-size: cover;
    /* height: 60vh; */
    /* linear-gradient(120deg, var(--primary) 50%, */
}

.cpo-new-car-price {
    background: linear-gradient(110deg, #f4f5f5 60%, transparent 40%);
}

@media (min-width: 768px) {
    .main-car {
        width: 64%;
        position: absolute;
        /* bottom: -50px !important; */
        right: -30px;

    }

    .fadeslider-r .col-md-4 img {
        height: 150px;
        width: 150px;
    }
}

.button {
    display: inline-block;
    text-transform: capitalize;
    padding: 8px 26px;
    font-family: 'Segoe UI Regular';
    color: var(--white);
    user-select: none;
    border-radius: 12px;
    transition: all .3s ease;
    text-decoration: underline;
    font-weight: lighter;
}

.button:hover {
    transform: translateY(-4px) scale(1.025);
    color: var(--black);
}

.button-light {
    background-color: var(--white);
    color: #000000;
}

/*.heading {*/

/*    text-transform: uppercase;*/
/*    font-family: Abril_Fatface !important;*/
/*    font-weight: 100 !important;*/
/*    font-size: 36px !important;*/
/*    text-transform: capitalize !important;*/

/*}*/
.heading {
    font-family: Abril_Fatface;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 112%;
    color: var(--dark);
}

.recent-search img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.recent-search .card {
    height: 100%;
}

.used-car-top-banner .heading {
    font-size: 50px !important;
}

.heading>span {
    background: linear-gradient(90deg, #007bff 0%, #01c5fe 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: Abril_Fatface !important;
    text-fill-color: transparent;
}

.accordion-heading {
    text-transform: uppercase;
    font-family: Abril_Fatface !important;
    font-weight: 100 !important;
    font-size: 24px !important;
    text-transform: capitalize !important;
}

.shoptime {
    color: var(--primary);
}

.shoptime b {
    font-size: 0.7rem;
}

.accordion-heading>span {
    background: linear-gradient(90deg, #007bff 0%, #01c5fe 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: Abril_Fatface !important;
    text-fill-color: transparent;
}

.shoptime img {
    width: 100%;
    object-fit: contain;
}

.heading-m {
    text-transform: uppercase;
    font-family: Abril_Fatface;
    font-weight: 100 !important;
    font-size: 24px !important;
    text-transform: capitalize !important;
}

.heading-m>span {
    color: var(--primary);
    font-family: Abril_Fatface !important;
}

.car-card {
    transition: all 0.5s ease;
}

.cars-card-img {
    height: 150px;
    object-fit: cover;
    transition: all 0.5s ease;
}

.resumesec {
    display: flex;
    flex-wrap: wrap;
}

.resumesec input {
    display: none;
}

.resumesec label {
    padding: 8px !important;
}

.removeresume {
    display: none;
    top: 10px;
    position: absolute;
    right: 0;
}

.deals-card-img {
    height: 200px;
    object-fit: contain;
    transition: all 0.5s ease;
}

.card,
.cg-research-home .cg-research-article-link,
.mainCardz .card-body .crd {
    transition: all 0.5s;
}

.applytalent input {
    color: black !important;
    height: 35px !important;
}

.applytalent select {
    color: black !important;
    height: 35px !important;
}

.applytalent span {
    width: 100% !important;
}

.select-us-work {
    width: 100% !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    left: 95% !important;
}

.applytalent label {
    font-size: 12px;
    padding: 10px;
}

.deal-good {
    transform: rotate(45deg) !important;
}

.deal-high {
    transform: rotate(135deg) !important;
}

.deal-fair {
    transform: rotate(90deg) !important;
}

.research-card p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0;
    font-size: small
}

.fadeslider .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.research-card>div {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0;
    font-size: small
}

.card:hover,
.cg-research-home .cg-research-article-link:hover,
.mainCardz .crd:hover {
    transform: translateY(-4px) scale(1.015);
    box-shadow: 0px 4px 1rem rgb(0 0 0 / 13%) !important;
    transition: all 0.5s;
}

.instant-cash img {
    object-fit: contain;
    width: 100%;
    height: 500px;
}

.fadeslider .card:hover {
    transform: unset;
}

.fadeslider .col-md-4 {
    margin-block: auto;
}

.fadeslider-r .col-md-4 {
    display: flex;
    justify-content: center;
}

.fadeslider-r .col-md-4 img {
    height: 125px;
    object-fit: cover;
    width: 125px;
}

.chatbox ul li img {
    width: 40px;
    height: 40px;
}

.chatbox p {
    font-size: small;
}

.reviewcard-r .col-md-4 {
    display: flex;
    justify-content: center;
}

.reviewcard-r .col-md-4 img {
    height: 125px;
    object-fit: cover;
    width: 125px;
    border-radius: 100%;
    margin-block: auto;
}

.slidertestimonial img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100%;

}

.slidertestimonial .card .g-0 {
    padding: 10px;
    background: linear-gradient(90deg, #6fc9e3 100%, #e8f3ff 0%);
    color: #104a6c;
}

.fadeslider .card .row {
    padding: 10px;
    background: linear-gradient(90deg, #e8f3ff 0%, #6fc9e3 100%);
    color: #104a6c;
}

.reviewcard .card .row {
    padding: 10px;
    background: linear-gradient(90deg, #e8f3ff 0%, #6fc9e3 100%);
    color: #104a6c;
}

.slidertestimonial .card-body::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    top: -10;
    left: 49%;
    transform: rotate(45deg);
}

.fadeslider-r img {
    border-radius: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.btn {
    transition: all 0.3s;
}

.btn:hover {
    background-color: var(--primary-light);
    /* opacity: 0.5; */
    transition: all 0.3s;
}

.box-shadow-0 {
    box-shadow: none !important;
}

.card:hover .card-img-top {

    transform: scale(1.015);
}

.car-card:hover .card-body .card-head {
    color: var(--primary);
    transition: all 0.5s ease;
}

.ecu {
    width: 4em;
    color: var(--primary);
    height: 8px;
    border-width: 4px;
    opacity: 1;
    border-radius: 4px;
}

.ecu-2 {
    width: 2em;
    color: var(--primary);
    height: 8px;
    border-width: 4px;
    opacity: 1;
    border-radius: 4px;
}

.ecslider {
    height: fit-content;
}

#home_next svg {
    transform: rotate(180deg);
}

#comment_home_next svg {
    transform: rotate(180deg);
}

#comment_home_next_test svg {
    transform: rotate(180deg);
}

.dropdown_menu .fa-angle-down {
    transition: all 0.3s;
    transform: rotate(180deg);
}

.dropdown_menu.active .fa-angle-down {
    transform: rotate(360deg);
}

.dropdown_menu2 .fa-angle-down {
    transition: all 0.3s;
}

.dropdown_menu2 .fa-angle-down {
    transform: rotate(180deg);
}

.dropdown_menu2.active .fa-angle-down {
    transform: rotate(360deg);
}

.social-footer a {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.footer-li li a:hover {
    text-decoration: underline;
}

.yt-thumb {
    position: relative;
}

.yt-thumb img {
    object-fit: cover;
    aspect-ratio: 1.8;
    border-radius: 10px 10px 10px 10px;

}

.finance-card .col-md-4 {
    margin-block: 10px;
}

.finance-card .card {
    height: 100%;

}

.whoweareborder {
    border: 2px solid white;
    border-bottom: 0px;
}

.whowearebordercontent {
    display: none;
    background-color: white;

}

/* .whoweareborder:hover .whowearebordercontent{
    display: block;
}  */
.documentation-card img {
    object-fit: cover;
    width: 100%;
}

.documentation-card .card {
    height: 100%;
}

.index-video-content {
    background-color: var(--primary);
    position: absolute;
    border-radius: 10px;
    right: 0;
    left: 0;
    bottom: 0;
}

.aboutdeals {
    justify-content: space-between;
}

.aboutdeals>div {
    display: flex;
    padding-inline: 5px;
}

.aboutdeals>div svg {
    margin-block: auto;
}

.aboutdeals>div p {
    margin-bottom: 0px;
    font-size: 10px;
    padding-left: 2px;
    font-weight: bolder;
}

.great path,
.great p {
    fill: #006b00;
    color: #006b00;
}

.good path,
.great p {
    fill: #009b00;
    color: #009b00;
}

.good svg {
    transform: rotate(45deg);
}

.fair path,
.great p {
    fill: #00bd00;
    color: #00bd00;
}

.fair svg {
    transform: rotate(90deg);
}

.leader-img img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    padding-block: 10p;
    object-position: top;
}

.analytics-svgs {}

.high path,
.great p {
    fill: #ff8400;
    color: #ff8400;
}

.high svg {
    transform: rotate(125deg);
}

.overpriced path,
.great p {
    fill: #f60000;
    color: #f60000;
}

.overpriced svg {
    transform: rotate(180deg);
}

.dataanalytics ul li p {
    margin-bottom: 0px;
}

.dataanalytics ul li svg {
    /* margin-block: auto; */
    width: 20px;
    height: 20px;
    margin-top: 3px;
    margin-right: 10px;
}

.dataanalytics ul li {
    list-style: none;
    display: flex;
    font-weight: bolder;
    margin-block: 10px;
}

.resumesec textarea {
    color: #000000 !important;
}

/* .index-video-content>div {
    position: absolute;
    left: 0;
    background-color: var(--primary);
    right: 0;
} */
/* tabs css */

/* .slick-arrow {
    display: none !important;
} */

.tab-btn {
    background-color: #5093cea1;
    border-radius: 15px !important;
    padding-block: 4px;
}

.tabintotab .nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    isolation: isolate;
    /* border-color: var(--bs-nav-tabs-link-hover-border-color); */
    background-color: #5093ce !important;
    color: white;
}

.nav-tabs .nav-link.disabled,
.nav-tabs .nav-link:disabled {
    color: var(--bs-nav-link-disabled-color);
    background-color: #5093ce !important;
    border-color: transparent;
}

.tabintotab ul.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: rgb(255, 0, 0);
    background-color: #5093ce !important;
    border-color: var(--bs-nav-tabs-link-active-border-color);
}

.tab-btn.active::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: white;
    transform: rotate(45deg);
    position: absolute;
    bottom: -5px;
    right: 44%;
}

/* .tabintotab ul.nav-tabs .nav-link.active::after {
content: "";
position: absolute;
border: 1em solid transparent;
border-top-color: #f90000;
transform: translateX(-50%) rotate(360deg);
left: 50%;
width: 0;
height: 0;
bottom: -8px;
margin: 0 auto;
} */

.tabintotab>div .nav-tabs .nav-link.active {
    /* text-decoration: underline; */
    background-color: var(--primary-light) !important;
    color: white;
    border: none;
}

/* .tabintotab>div .nav-tabs .nav-link,
.tabintotab>div .nav-tabs .nav-link {
    isolation: isolate;
    border-color: var(--bs-nav-tabs-link-hover-border-color);
    background-color: var(--primary-light) !important;
    color: white;
    text-decoration: underline;
    border: 2px;
    margin: 0px !important;

} */

.tabintotab>div .nav-tabs .nav-link {
    margin: 3px !important;
    border: none !important;
    background-color: var(--primary-light) !important;
    color: white;
    border-radius: 15px;
    padding-block: 4px;
    font-size: 14px;
}



.tab-dropdown {
    border: none;
    border-right: 1px solid #7070707a;
    border-radius: 0px;
}

.tab-dropdown-focus:focus {
    border: 1px solid !important;
}

.carbody .card {
    height: 100px;
    background-color: #5093ce29 !important;
    align-items: center;
    place-content: center;
    padding-top: 3px;
    border-radius: 10px !important;
    border: none;

}

.carbody .card input {
    display: none;
}

.carbody .card>div img {
    border-radius: 10px;
    height: 100px;
    object-fit: contain;
}

.carcard .card {
    height: 100px;
    background-color: #5093ce29 !important;
    align-items: center;
    place-content: center;
    padding-top: 3px;
    border-radius: 10px !important;
    border: none;

}

.carcard .card input {
    display: none;
}

.carcard .card>div img {
    border-radius: 15px;
}

.quote-author {
    border-top: 1px solid rgba(0, 0, 0, 0.371);
    float: left;
    padding-top: 10px;
}

/* tab css end */
.carousel-control-group-2::before {
    position: absolute;
    content: "";
}

.quote-text::before {
    content: url(../images/financing/download.svg);
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    transform: rotate(180deg);
    right: 0;
    bottom: 50px;
    /* content: url(data:image/svg+xml,%3Csvg width='155' height='166' viewBox='0 0 155 166' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.579346 103.278L65.6029 165.768L89.4383 142.559L48.4346 103.15L138.255 15.934L154.436 0.231689H106.697L100.019 6.71907L0.579346 103.278Z' fill='url(%23paint0_linear_34_1622)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_34_1622' x1='0.579346' y1='0.231689' x2='172.479' y2='21.7702' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230072FF'/%3E%3Cstop offset='1' stop-color='%2300C6FF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A);
    content:url("data:image/svg+xml,%3Csvg width='155' height='166' viewBox='0 0 155 166' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.579346 103.278L65.6029 165.768L89.4383 142.559L48.4346 103.15L138.255 15.934L154.436 0.231689H106.697L100.019 6.71907L0.579346 103.278Z' fill='url(%23paint0_linear_34_1622)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_34_1622' x1='0.579346' y1='0.231689' x2='172.479' y2='21.7702' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230072FF'/%3E%3Cstop offset='1' stop-color='%2300C6FF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A")'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_34_1622' x1='0.579346' y1='0.231689' x2='172.479' y2='21.7702' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230072FF'/%3E%3Cstop offset='1' stop-color='%2300C6FF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A);
    position: absolute;
    bottom: -126px;
    right:-21px;
    z-index: -1;
    transform: rotate(189deg);  */
}

.contact-financing {
    text-align: center;
}

.contact-financing>div a {
    color: var(--primary);
}

.research-tab {
    backdrop-filter: blur(12px);
}

.estimate-payment {
    border: 1px solid var(--primary);
}


.finance-step {
    background-color: #5093ce;
    width: 44px;
    color: white;
    height: 44px;
    border-radius: 39px;
    font-size: 10px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.dollar {
    font-family: lato;
    color: var(--primary);
    font-size: 3rem;
    font-weight: bolder;
}

.estimate-payment-price {
    font-family: lato;
    color: var(--primary);
    font-size: 3rem;
    font-weight: bolder;
}

.estimate-payment-price span {
    font-family: lato;
    color: var(--dark);
    font-size: 1rem;
    font-weight: normal;
}

.finance-tab-btn {
    border: 1px solid var(--light) !important;
    color: #464b4fce;

}

.cal-btn>div label {
    border: 1px solid var(--light) !important;
    color: #464b4fce;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    /* padding: 11px; */
    padding-block: 5px;
    font-size: 0.8rem;
    font-weight: bold;
}

.cal-btn>div input[type="radio"]:checked~label {
    background-color: var(--primary);
    color: white;
}

.search-button>div input[name="search-car"]:checked~label {
    background-color: #4a93d2;
    color: #ffffff !important;
    border-right: 1px solid #cdd2d2;
    color: #006598;
    padding: 0.6rem 0.6rem;
}

.search-button input {
    display: none;
}

.cal-btn label {
    border: 1px solid var(--light) !important;
    color: #464b4fce;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    /* padding: 11px; */
    padding-block: 5px;
    font-size: 0.8rem;
    font-weight: bold;
}

/* .cal-btn input[type="radio"]:checked~.cevdhy {
    background-color: var(--primary);
    color: white;
} */
.cal-btn label[aria-selected="true"] {
    background-color: var(--primary);
    color: white;
}

.cal-btn input {
    display: none;
}

.modal-css {
    max-width: 60%;
}

.modal-detail span a {
    color: blue;
}

.modal-detail {
    height: 9em;
    overflow: auto;
    text-align: justify;
    font-size: small;
    color: var(--dark);
}

.modal-detail::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.modal-detail::-webkit-scrollbar-track {
    border-radius: 10px;
}

.modal.fade.show {
    z-index: 9999999;
}

/* Handle */
.modal-detail::-webkit-scrollbar-thumb {
    background: var(--dark);
    border-radius: 10px;
}

.modal-detail-overview span a {
    color: blue;
}

.modal-detail-overview {
    height: 9em;
    overflow: auto;
    text-align: justify;
    font-size: small;
    color: var(--dark);
    background-color: white;
    padding: 10px;
}

.stock-car-img {
    aspect-ratio: 1.8;
    object-fit: cover;
}

.modal-detail-overview::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.modal-detail-overview::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
.modal-detail-overview::-webkit-scrollbar-thumb {
    background: var(--dark);
    border-radius: 10px;
}

.heartlike button {
    border: none;
    background: transparent;
}

.heartlike {
    position: absolute;
    right: 30px;
    top: 25px;
    z-index: 1;
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 100%;
    padding: 5px;
}

.bi-heart {
    color: var(--primary) !important;
}

/* .heartlike label::after{
    content: '';
    position: absolute;
} */
.applicant input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--dark);
}

.applicant select {
    border: 1px solid var(--dark) !important;
    border-radius: 0;
}

.request-info-modal {
    border: 1px solid black;
    border-radius: 15px;
}

.request-info-modal>div p input {
    width: 150px;
    padding: 4px 5px;
    margin-bottom: 10px;
}

.dealers-price p {
    margin-bottom: 5px;
}

.negotiation {
    border-left: 1px solid var(--dark);
    padding-left: 10px;
}

.negotiation p smaller {
    text-transform: uppercase;
}

.negotiation p {
    font-weight: bolder;
    margin-bottom: 0px;
}

.negotiation p span {
    font-size: 1.5rem !important;
    margin-right: 0.1875rem;
    display: inline-block;
    vertical-align: sub;
    line-height: 10px;
}

.Contactless li {
    list-style: none;
}

.circle-svg {
    border-radius: 100%;
    background-color: var(--primary);
}

.circle-svg svg {
    padding: 10px;
}

._4z5HgY {
    /* fill: yellow; */
}

._42zXRc {
    background: #c2ccd4;
    display: flex;
    flex-grow: 1;
    height: 1.25rem;
    margin: 0 0.125rem 0 0.625rem;
}

.hVKvZS {
    color: var(--dark);
}

._4w1r1J ol li:before {
    background-color: var(--primary);
    border-radius: 50%;
    color: var(--white);
    content: counter(steps);
    display: inline-grid;
    height: 1.5em;
    line-height: 1.5;
    margin: 0 0.5rem 0.75rem 0;
    align-items: center;
    justify-items: center;
    place-items: center;
    width: 1.5em;
}

._4w1r1J ol li {
    counter-increment: steps;
    list-style: none;
}

.chat-btn {
    background: var(--primary);
    color: white;
    width: 100px;
    justify-content: space-between;
    display: flex;
    padding: 5px;
}

/* rating start*/

.rate {
    /* float: left; */
    height: 46px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    /* float:right; */
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}

.filter-result-rating {
    background: white;
    border: 1px solid var(--dark);
    max-height: 15rem;
    overflow: auto;
    padding: 10px;
}

.filter-result-rating li {
    display: flex;
    margin-top: 10px;
}

.filter-result-rating li label {
    display: flex;
    padding-left: 10px;
}

.filter-result {
    background: white;
    border: 1px solid var(--dark);
    max-height: 15rem;
    overflow: auto;
    padding: 10px;
}

.filter-result li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter-result li label {
    display: flex;
}

.filter-result li svg {
    margin-top: auto;
    margin-bottom: auto;
}

.filter-result li label p {
    padding-left: 10px;
    margin-bottom: 0px;
    line-height: 1rem;
}

.custom-range-left {
    position: absolute;
    left: 2px;
    width: 50%;
}

.custom-range-right {
    right: 2px;
    position: absolute;
    width: 50%;
}

.progress {
    background: yellow;
    border: solid 2px #82CFD0;
    border-radius: 8px;
    height: 7px;
    width: 400px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

.progress::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #434343;
}

.teammember-quotes-arrow::after {
    content: "";
    position: absolute;
    background-color: var(--lightback);
    width: 20px;
    height: 20px;
    left: 49px;
    transform: rotate(45deg);
    top: -10px;
    z-index: -1;
}

.teammember-quotes {
    background-color: var(--lightback);
    width: 100%;
    position: relative;
    /* left: 2.5%; */
}

/* rating end */
.teammember img {
    object-fit: cover;
    width: 100%;
    object-position: top;
}

.teammember .row>div {
    transition: all 0.3s;
}

.teammember .row>div:hover {
    transition: all 0.3s;
    scale: 1.1;
}

.teammember .row p {
    font-size: small;
}

.teammember .row h5 {
    color: var(--primary);
}

.second-slider-btn {
    position: absolute;
    right: 33%;
    bottom: -50px;
}


.blogPost .profile {
    display: flex;
    align-items: center;
    gap: 18px;
}

.blogPost .profile img {
    height: 86px;
    width: 86px;
    object-fit: contain;
}

.searchBar {
    border-bottom: 1px solid var(--dark);
}

.nbCard {
    background-color: var(--dark);
}

.nbCard .parawf {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.nbCard .para {
    font-family: 'Sofia_Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 179%;
    color: var(--white);
    opacity: 0.8;
    flex-grow: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.nbCard .profile img {
    width: 40px;
    height: 40px;
    border-radius: 200px;
    object-fit: contain;
    background-color: white;
    padding: 3px;
}

.blog img,
.blogNewsImg {
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.nbCard .profile .title {
    font-family: 'Sofia_Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: var(--white);
}

.nbCard .profile .decs {
    font-family: 'Sofia_Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #676767;
}

.col-12.my-1.aos-init select {
    color: #55585b !important;
}

.sec-gsp-form :is(input[type="text"], input[type="email"], input[type="number"], textarea, select) {
    background-color: #E5E5E5A6 !important;

    color: var(--white);
}

.sec-gsp-form :is(input[type="text"], input[type="email"], input[type="number"]) {
    height: 3em;
}

.main-button {
    text-transform: uppercase;
    background: linear-gradient(97.68deg, var(--primary) 0%, #00C6FF 100%);
    padding: 0 2rem;
    border: 0;
    position: relative;
    background-size: 100%;
    transition: var(--transition);
    color: var(--white);
}

/* .p-0.mt-3.form__field.applicant.col input:checked .p-0.mt-3.form__field.applicant.col label{
    background-color: var(--primary) !important;
}
.p-0.mt-3.form__field.applicant.col label{
    background-color: red !important;
} */
#propertytypeid input[type="radio"]:checked~label {
    background-color: var(--primary) !important;
}


.main-button::after,
.main-button-outlined::after,
.main-button-white::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='24' viewBox='0 0 13 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5012 12.112L0.832031 0.442871V23.7812L12.5012 12.112Z' fill='%231A1A1B'/%3E%3Cpath d='M8.17654 12.1121L0.832031 4.76758V19.4566L8.17654 12.1121Z' fill='white'/%3E%3C/svg%3E%0A");
    left: -0.5px;
    padding: 12px;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.shareFile {
    border: 1.5px dashed #3C3C3C;
    border-radius: 10px;
    height: 30vh;
}

.para {
    font-size: 15px;
    line-height: 26.85px;
}

.hrrow {
    width: 100%;
    height: 1px;
    background-color: var(--primary);
}

.mediaContainer {
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.research-card-img {
    margin-block: auto;

}

.key-matrics {
    margin-block: 20px;
}

.key-matrics img {
    width: 150px !important;
    height: 150px !important;
    object-fit: contain;
}

@media (min-width: 767px) {
    .fianceinadiv {
        border-right: 1px solid rgba(0, 0, 0, 0.218);
    }

}

@media (max-width: 768px) {
    .rating-review .card {
        flex: 0 0 auto;
        width: 75%;
        margin-inline: 20px;
    }

    .fadeslider-r .col-md-4 img {
        height: 80px;
        width: 80px;
    }

    .rating-review {
        height: auto;
    }

    .rating-review>div {
        width: auto;
        display: flex;
    }

    .fadeslider-r .col-md-4 {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .leader-img img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        padding-block: 10p;
        object-position: top;
    }

    .heading {
        font-size: 35px;
    }

    .modal-css {
        max-width: 100%;
    }

    .leader-content p {
        margin-top: 10px;
    }

    .homepage.redesign .hero section.searchWrap {
        top: 50% !important;
        transform: translateY(-66%) !important;
    }

    .certifieddiv {
        border-left: none;
        padding-left: 0px;
        height: 100%;
        padding-right: 0px;
    }

    .accordion-heading {
        font-size: 16px !important;
    }

    .used-sec-2-key-info {
        background: linear-gradient(110deg, var(--primary) 80%, transparent 20%);
    }

    .cpo-new-car-price {
        background: linear-gradient(110deg, #f4f5f5 80%, transparent 20%);
    }
}

@media only screen and (min-width: 1024px) {
    .homepage.redesign .hero .media .mediaContainer {
        min-height: 615px;
    }

    .homepage.redesign .hero section.searchWrap {
        top: 28vh;
    }
}

@media only screen and (max-width: 767px) {
    .fianceinadiv {
        border-bottom: 1px solid rgba(0, 0, 0, 0.218);
        padding-bottom: 15px;
    }

    .homepage.redesign .searchWrap .used-search label {
        display: inline-block !important;
    }

    .card.bodyoption .media .mediaContainer {
        min-height: 100% !important;
    }

    .card.bodyoption {

        max-width: 50%;
        width: 50%;
        height: 150px;
    }

    .financing-search-panel-callout {

        display: block;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .used-sec-2-key-info {
        background: var(--primary);
    }

    .cpo-new-car-price {
        background: #f4f5f5;
    }
}

@media (min-width: 576px) {
    .modal-fianceinadiv {
        border-right: 1px solid rgba(0, 0, 0, 0.218);
        /* padding-right: 15px; */
    }

    .tab-dropdown {
        border: none;
        border-bottom: 1px solid #7070707a;
        border-radius: 0px;
    }
}



@media (max-width: 576px) {
    .modal-fianceinadiv {
        border-bottom: 1px solid rgba(0, 0, 0, 0.218);

    }

    .financing-top-banner {
        height: 80vh;
    }
}


/*yasir working*/

.form-title {
    display: flex;
    justify-content: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 60px;
}

.spantext {
    background: linear-gradient(90deg, #007bff 0%, #01c5fe 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: Abril_Fatface !important;
    text-fill-color: transparent;
}

::placeholder {
    color: #050000;
}

.listing-table {
    text-align: center;
}

.listing-table tbody td {
    background-color: var(--lightback);
    vertical-align: middle;
}

.listing-table th {
    padding-block: 10px;
    vertical-align: middle;
}

.listing-table h4,
.listing-table p {
    text-align: left;
}

.listing-table h2 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.listing-table p {
    margin-bottom: 0;
}

.single-news img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

body:has(ul.nav-links.navactive.open) {
    overflow: hidden;
}